@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  :root  {
    --background: 224 100% 95%;
    /* Background grid would go here. */
    --foreground: 224 5% 10%;
    --card: 224 50% 90%;
    --card-foreground: 224 5% 15%;
    --popover: 224 100% 95%;
    --popover-foreground: 224 100% 10%;
    --primary: 224 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 30% 79%;
    --secondary-foreground: 0 0% 0%;
    --muted: 186 30% 85%;
    --muted-foreground: 224 5% 40%;
    --accent: 186 30% 80%;
    --accent-foreground: 224 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 79%;
    --input: 224 30% 50%;
    --ring: 224 100% 50%;
    --radius: 1rem;
  }
  .dark  {
    --background: 224 50% 10%;
    --background-grid: 210 30% 20%;
    --foreground: 224 5% 90%;
    --card: 224 50% 10%;
    --card-foreground: 224 5% 90%;
    --popover: 224 50% 5%;
    --popover-foreground: 224 5% 90%;
    --primary: 224 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 186 30% 25%;
    --muted-foreground: 224 5% 65%;
    --accent: 186 30% 25%;
    --accent-foreground: 224 5% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 50%;
    --input: 224 30% 50%;
    --ring: 224 100% 50%;
    --radius: 1rem;
  }




  
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    transition: all 0.2s ease
  }
  .header {
    justify-content: center;
    display: flex; 
    align-items: center;
  }
}

