@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

/* I don't like these colors quite */


  :root  {
    --background: 181 100% 100%;
    --foreground: 181 5% 10%;
    --card: 181 50% 100%;
    --card-foreground: 181 5% 15%;
    --popover: 181 100% 100%;
    --popover-foreground: 181 100% 10%;
    --primary: 181 100% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 143 30% 95%;
    --muted-foreground: 181 5% 40%;
    --accent: 143 30% 90%;
    --accent-foreground: 181 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 181 5% 100%;
    --border: 181 30% 82%;
    --input: 181 30% 50%;
    --ring: 181 100% 27%;
    --radius: 1rem;
  }
  .dark  {
    --background: 181 50% 10%;
    --foreground: 181 5% 100%;
    --card: 181 50% 10%;
    --card-foreground: 181 5% 100%;
    --popover: 181 50% 5%;
    --popover-foreground: 181 5% 100%;
    --primary: 181 100% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 143 30% 25%;
    --muted-foreground: 181 5% 65%;
    --accent: 143 30% 25%;
    --accent-foreground: 181 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 181 5% 100%;
    --border: 181 30% 50%;
    --input: 181 30% 50%;
    --ring: 181 100% 27%;
    --radius: 1rem;
  }



  
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    transition: all 0.2s ease
  }
}
