:root {
    --accentLight: #D149FF;
    --accent: #a827d2ff;
    --primaryLight: #17d992ff;
    --primary: #15c283ff;
    --foreColor: #d4d6d8ff;
    --foreColorMed: #e9ebeeff;
    --foreColorLight: #ffffffff;
    --backColorLight: #233a5f;
    --backColorMed: #12263c;
    --backColor: #121b2bff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--backColorMed); 
    color: var(--foreColorMed);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}