:root {
    --accentLight: #D149FF;
    --accent: #a827d2ff;
    --primaryLight: #17d992ff;
    --primary: #15c283ff;
    --foreColor: #d4d6d8ff;
    --foreColorMed: #e9ebeeff;
    --foreColorLight: #ffffffff;
    --backColorLight: #233a5f;
    --backColorMed: #12263c;
    --backColor: #121b2bff;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--backColorMed); 
    color: var(--foreColorMed);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.SignInPage {
    overflow: hidden;
    overflow-y: hidden;
}

.SignInContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 25em;
    height: 15em;
    background: var(--backColor);
    margin: auto;
    align-items: center;
    border-radius: 0.5em;
    justify-content: center;
    justify-items: center;
}

.signInButton {
    display: inline-block;
    width: 80%;
    background: var(--accentLight);
    border-radius: 0.5em;
    margin: auto;
    padding: 0.75em 1em;
    color: var(--foreColorMed);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
    font-weight: 500;
    margin: 0.25em 0em;
}

.signInButton:hover {
    transform: scale(1.05);
}

.signInButton:active {
    transform: scale(0.98);
}