---
import VanillaLayout from "../layouts/vanilla.astro"
import SignInButton from "../components/signInButton"
import '../assets/css/signIn.css'

export const prerender = false;
---

<VanillaLayout>
	<div class="SignInPage">
		<div class="SignInContainer">
			<h1>Login</h1>
			<SignInButton 
				signInWebsite="Google" 
				service="google" 
				callbackURL="https://github.com/ReplitConnections/ReplitClone" 
			/>
			<SignInButton 
				signInWebsite="GitHub" 
				service="github" 
				callbackURL="https://github.com/ReplitConnections/ReplitClone" 
			/>
		</div>
	</div>
</VanillaLayout>
