---
import VanillaLayout from "../layouts/vanilla.astro"

import {
	PageMargin,
	Container,
	CtaContainer
} from "../uiComp/baseUIComponents.jsx"

import Lorem from "../uiComp/lorem.jsx"

import '../assets/css/global.css'
---

<VanillaLayout>
	<p>Outside of page margin</p>

	<PageMargin>
		<h1>H1, Open Sans Variable</h1>
		<h2>H2, Open Sans Variable</h2>
		<h3>H3, Open Sans Variable</h3>
		<h4>H4, Open Sans Variable</h4>
		<h5>H5, Open Sans Variable</h5>
		<h6>H6, Open Sans Variable</h6>
		<p>Welcome to the site! (p) <br> Break, and another line</p>
		<p>Another P element</p>

		<Container type="1">
			<p>Container 1</p>
		</Container>

		<Container type="2">
			<p>Container 2</p>
		</Container>

		<Container type="3">
			<p>Container 3</p>
		</Container>

		<CtaContainer color="PoloBlue">
			<h1>Call-to-action container, PoloBlue</h1>
			<p><Lorem length={5}></Lorem></p>
		</CtaContainer>
	</PageMargin>
</VanillaLayout>
